{% if version %}[{{ version }}](https://github.com/DonalChilde/snippets/compare/_previous_version_tag_...{{version}}) — {% endif %} {{ date.strftime('%Y-%m-%d') }}
{{"\n"}}
Whats Changed in {{version}}
