<!--
A new scriv changelog fragment.

Uncomment the section that is right (remove the HTML comment wrapper).

pull request link [#1](https://github.com/DonalChilde/snippets/pull/1)
issue link [#1](https://github.com/DonalChilde/snippets/issues/1)
-->

{% for cat in config.categories -%}
<!--

### {{ cat }}

- A bullet item for the {{ cat }} category.

    - Pull requests
        - [#0](https://github.com/DonalChilde/snippets/pull/0)

    - closes
        - [#0](https://github.com/DonalChilde/snippets/issues/0)

-->
{% endfor -%}
